<div id="popup-tarea-backshadow">
  <div id="crearGrupo-main">
    <form [formGroup]="infoForm" (ngSubmit)="CrearGrupo()" #form="ngForm">
      <div>
        <div>
          <div>
            <div class="field" tabindex="1">
              <b><label for="groupnombre"><i class="far fa-user"></i>NAME GROUP </label></b>
              <input id="input-nombre" name="groupnombre"
                     type="text"
                     placeholder="add group name..."
                     required
                     formControlName="nombre"
                     [(ngModel)]="inputName" />

              <b><label for="groupdescription"> <i class="far fa-user"></i>DESCRIPTION</label></b>
              <input id="input-descripcion" name="groupdescription"
                     type="text"
                     pattern="^[A-Za-z0-9]+$"
                     placeholder="add description"
                     formControlName="descripcion"
                     [(ngModel)]="inputDescription"/>
            
            </div>
            <button (click)="HideForm('save')" type="submit" class="btn btn-primary">Save group</button>
            <span (click)="HideForm('cancel');this.inputName = '';this.inputDescription = '';" style="margin-top:-2rem;" class="btn btn-danger">Cancel</span>
            <div class="social-media"></div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
